[push]
  default = matching
[user]
  name = Nicole Griesmeyer
  email = nicole@griesmeyer.org
[core]
  editor = atom --wait
[alias]
  delete-merged-branches = "!git co master && git branch --no-color --merged | grep -v '\\*' | xargs -n 1 git branch -d"
